.body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.bg_white{
    background-color: #fff;
}

.section {
    padding: 70px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.card {
    border: none;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 2rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.svg-icon {
    width: 50px;
    height: 50px;
}